.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
}
 .nav-enlace:hover{
    background:  black;
} 
nav{
    background: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-boton{
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

 /* nav  a.activo{
    background-color: black;
}  */